--
-- PostgreSQL database dump
--

\restrict pm95ERJd118939rAhV0yjIaASenjHiuc8tZM2BiyYWojxs0UXehejYnWcp2cLSH

-- Dumped from database version 17.8 (6108b59)
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Job_Apps; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Job_Apps" (
    id integer NOT NULL,
    company text NOT NULL,
    title text NOT NULL,
    remote boolean NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    job_desc text NOT NULL,
    "createdById" integer NOT NULL
);


ALTER TABLE public."Job_Apps" OWNER TO neondb_owner;

--
-- Name: Job_Apps_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."Job_Apps_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Job_Apps_id_seq" OWNER TO neondb_owner;

--
-- Name: Job_Apps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."Job_Apps_id_seq" OWNED BY public."Job_Apps".id;


--
-- Name: ProfessionalExperience; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ProfessionalExperience" (
    id integer NOT NULL,
    "resumeId" integer NOT NULL,
    "companyName" text NOT NULL,
    title text NOT NULL,
    "startDate" text NOT NULL,
    "endDate" text,
    location text NOT NULL,
    responsibilities jsonb NOT NULL,
    technologies jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ProfessionalExperience" OWNER TO neondb_owner;

--
-- Name: ProfessionalExperience_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."ProfessionalExperience_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ProfessionalExperience_id_seq" OWNER TO neondb_owner;

--
-- Name: ProfessionalExperience_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."ProfessionalExperience_id_seq" OWNED BY public."ProfessionalExperience".id;


--
-- Name: Resume; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Resume" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    title text,
    summary text NOT NULL,
    education jsonb,
    skills jsonb,
    certifications jsonb,
    projects jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Resume" OWNER TO neondb_owner;

--
-- Name: Resume_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."Resume_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Resume_id_seq" OWNER TO neondb_owner;

--
-- Name: Resume_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."Resume_id_seq" OWNED BY public."Resume".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."User" (
    id integer NOT NULL,
    username text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    password text NOT NULL,
    resume text NOT NULL
);


ALTER TABLE public."User" OWNER TO neondb_owner;

--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."User_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."User_id_seq" OWNER TO neondb_owner;

--
-- Name: User_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."User_id_seq" OWNED BY public."User".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO neondb_owner;

--
-- Name: Job_Apps id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Job_Apps" ALTER COLUMN id SET DEFAULT nextval('public."Job_Apps_id_seq"'::regclass);


--
-- Name: ProfessionalExperience id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProfessionalExperience" ALTER COLUMN id SET DEFAULT nextval('public."ProfessionalExperience_id_seq"'::regclass);


--
-- Name: Resume id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Resume" ALTER COLUMN id SET DEFAULT nextval('public."Resume_id_seq"'::regclass);


--
-- Name: User id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."User" ALTER COLUMN id SET DEFAULT nextval('public."User_id_seq"'::regclass);


--
-- Data for Name: Job_Apps; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: ProfessionalExperience; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: Resume; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."User" (id, username, name, "createdAt", password, resume) FROM stdin;
1	tyner	Thomas Tyner	2026-03-15 08:03:25.914	$2a$10$wdWJlJg2tFRMObictNYW4uvfqna3XsdqgkxlLDc4Pk4d7cKgE0oN2	uploads\\1773561805656-Thomas Jacob Tyner.pdf
2	mattdell	Mathew Delano	2026-03-15 12:09:15.889	$2a$10$0r8VfIO6/qY5q5df/ciNyOgZYO8p9F.BG331Z76mQr6YWIR812EsK	uploads\\1773576555366-Matthew Delano.pdf
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Name: Job_Apps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."Job_Apps_id_seq"', 159, true);


--
-- Name: ProfessionalExperience_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."ProfessionalExperience_id_seq"', 13, true);


--
-- Name: Resume_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."Resume_id_seq"', 4, true);


--
-- Name: User_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."User_id_seq"', 2, true);


--
-- Name: Job_Apps Job_Apps_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Job_Apps"
    ADD CONSTRAINT "Job_Apps_pkey" PRIMARY KEY (id);


--
-- Name: ProfessionalExperience ProfessionalExperience_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProfessionalExperience"
    ADD CONSTRAINT "ProfessionalExperience_pkey" PRIMARY KEY (id);


--
-- Name: Resume Resume_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Resume"
    ADD CONSTRAINT "Resume_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Resume_userId_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Resume_userId_key" ON public."Resume" USING btree ("userId");


--
-- Name: User_username_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "User_username_key" ON public."User" USING btree (username);


--
-- Name: Job_Apps Job_Apps_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Job_Apps"
    ADD CONSTRAINT "Job_Apps_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ProfessionalExperience ProfessionalExperience_resumeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProfessionalExperience"
    ADD CONSTRAINT "ProfessionalExperience_resumeId_fkey" FOREIGN KEY ("resumeId") REFERENCES public."Resume"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Resume Resume_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Resume"
    ADD CONSTRAINT "Resume_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

\unrestrict pm95ERJd118939rAhV0yjIaASenjHiuc8tZM2BiyYWojxs0UXehejYnWcp2cLSH

